{% include base_path %}

{% if page.author_profile or layout.author_profile or page.sidebar or page.show_chronological_posts %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}

  {% if page.show_chronological_posts %}
    <nav class="nav__list">
      <ul>
        {% for post in site.posts %}
          <li>
            <a href="{{ post.url | prepend: base_path }}" {% if post.url == page.url %}class="active"{% endif %} style="font-size: 0.9em; padding: 0.25em 0; line-height: 1.3;">
              <span style="font-family: monospace; display: block; font-size: 0.8em; color: var(--global-text-color-light);">{{ post.date | date: "%B %d, %Y" }}</span>
              {{ post.title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | prepend: "/images/" | prepend: base_path }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}